<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Formulário</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-input></ion-input>
  <ion-input color="black" placeholder="Contato"></ion-input>
  
  

  <ion-item>
    <ion-label position="stacked">Nome:</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Email:</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Telefone:</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Mensagem:</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>

  <ion-button expand="full">Enviar</ion-button>
</ion-content>
