<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Botôes no Ionic</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button>Padrão</ion-button>
  <ion-button href="https://www.senac.br">Senac</ion-button>
  <ion-button href="/folder/inbox">Voltar</ion-button>
  <ion-button href="card">Cards</ion-button>
  <ion-button color="primary">Primary</ion-button>
  <ion-button color="secondary">Secondary</ion-button>
  <ion-button color="tertiary">Tertiary</ion-button>
  <ion-button color="success">Success</ion-button>
  <ion-button color="warning">Warning</ion-button>
  <ion-button color="danger">Danger</ion-button>
  <ion-button color="light">Light</ion-button>
  <ion-button color="medium">Medium</ion-button>
  <ion-button color="dark">Dark</ion-button>

  <ion-button expand="full">Full Button</ion-button>
  <ion-button expand="block">Block Button</ion-button>
  <ion-button round>Round Button</ion-button>
  <ion-button expand="full" fill="outline" color="danger">Full Button = outline</ion-button>

  <ion-button color="danger">
    <ion-icon name="thumbs-up" slot="start"></ion-icon>
    Like
  </ion-button>

  <ion-button>
    <ion-icon slot="icon-only" name="globe"></ion-icon>
  </ion-button>

  <ion-button>
    <ion-icon slot="icon-only" name="add"></ion-icon>
  </ion-button>

  <ion-button color="dark" size="small">Pequeno</ion-button>
  <ion-button color="dark">Tamanho Padrão</ion-button>
  <ion-button color="dark" size="large">Grande</ion-button>

  <ion-item background-color="danger">
    <ion-label slot="start">Rótulo IONIC</ion-label>
  </ion-item>

  <ion-button color="dark" size = large href="inputs">INPUTs</ion-button>
</ion-content>
