<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>card</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-img src="../assets/campos.jpg"></ion-img>
    <ion-card-title>Passeio em Campos do Jordão</ion-card-title>
    <ion-card-content>Uma jornada de aventura na cidade de Campos do Jordão em tempos de Pandemia, com lojas e restaurantes fechados ou parcialmente abertos</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-img src="../assets/mirante.jpg"></ion-img>
    <ion-card-title>Mirante Campos do Jordão</ion-card-title>
    <ion-card-content>Uma vista incrível das montanhas e dos vales na serra da Mantiqueira</ion-card-content>
  </ion-card>
</ion-content>
